 /* CSS styles */
 body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
 .navbar{
      background-color: #f2f2f2;
      overflow: hidden;
  }
  .navbar a{
      float: left;
      padding: 20px 20px;
      text-decoration: none;
      font-size: large;
      text-align: center;
  }
  .navbar a:hover{
      background-color: #ddd;
      color: #ffffff;
  }
  .navbar a.active{
      background-color: rgb(181, 180, 180);
      color: white;
  }
  .navbar input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 18px;
    margin-right: 16px;
    font-size: 17px;
    color: black;
    font-family: Arial, sans-serif;
  }


  #container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    
  }

  #coding-image {
    width: 300px;
    margin-bottom: 20px;
  }

  #rolling-phrase {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  @keyframes rollingWords {
    0% { content: "java"; }
    33% { content: "python"; }
    66% { content: "visual basic"; }
    100% { content: "java"; }
  }

  #rolling-words::after {
    display: inline-block;
    content: "java";
    animation: rollingWords 6s infinite;
  }
  #coding-image{
      border-radius: 8px;
      box-shadow: 5px 10px gray;
      
  }
  .information{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px,auto);        
      padding: 10px;
  }
  .thumbnails img{
    border: 1px solid #8f8d8d;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
  }
  table{
    margin: 10px;
    
  }
  td{
    padding: 10px;
    
  }